.val-form{
      margin-left:30%;
      margin-right:30%;
      margin-top:5%;
      border:2px solid #0984e3;
    }

.valid-form{
     padding-top:4%;
     margin-left:16%;
   }

.submit-form{
    margin-left:16%;
    margin-bottom: 10%;
    color: #0984e3;
  }

 .dob{
     cursor:pointer;
    /* -webkit-box-shadow: inset 0 0 0px 9999px white; */
   }

   #datepicker{
    position: relative;
   }

   #glyph{
   color:#0984e3;
   /*color:#000; */
   position:absolute;
   left:34.2%;
   top:20%;
 }

 

/* calendar */
.ui-datepicker{
 display: none;
 background: linear-gradient(to bottom right, #000046, #1cb5e0);
/* background: linear-gradient(to bottom right, #2b5876, #4e4376); */
/*background: linear-gradient(to bottom right,#373b44,#73c8a9); */
/*background:#512DA8;/*#222f3e; /* Old browsers */
/*background: #222f3e -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
/*background: #222f3e -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
/*background: #222f3e -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
/*background: #222f3e -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
/*background: #222f3e -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
/*background: #222f3e linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
font-size:11px;
padding:10px;
border:1px solid #ccc;
border-radius:3%;
}

.ui-datepicker-header {
    color: #fff;
    opacity: 0.8;
}

.ui-datepicker table {
 width:250px;
 height:190px;
}

/*.ui-datepicker table thead{
   position: relative;
}

*/

/*.ui-datepicker table thead tr{
  position: relative;
  left:10%;
}

*/

.ui-datepicker table thead tr th {
padding: 4%;
 opacity:0.5;
}

.ui-datepicker table tbody tr :nth-of-type(2){
  height:47px;
}
 
.ui-datepicker table td {
text-align:center;
}

.ui-datepicker table tr{
  color:#fff;
}

.ui-datepicker table tbody tr td{
 /*font-size:13px; */
}

.ui-datepicker a{
color: #fff;
cursor:pointer;
text-decoration:none;
}

.ui-datepicker a:hover {
  font-weight: bold;
  color: #fff;
  cursor:pointer;
  text-decoration:none;
  
}
.ui-datepicker-prev {
}

.ui-datepicker-prev:hover {
}

 
.ui-datepicker-next {
 float:right;
}

/* .ui-datepicker a:hover{
 border: 1px solid #fff;
 border-radius: 50%;
 color:#000;
 background-color: #fff;
 outline-offset: 10px;
}

*/

.ui-datepicker-title {
  font-size: 15px;
  margin-bottom: 5%;
  text-align: center;
}

.ui-datepicker-month{
  font-weight: bold;
}

.ui-datepicker-month,.ui-datepicker-year {
  border-color:transparent;
  background:transparent;
  color:#fff;
  cursor:pointer;
}

select.ui-datepicker-month,select.ui-datepicker-year{
  background-color:#000046;
}

.ui-datepicker-current-day {
}
/* today's background color */
/*.ui-datepicker-today {
    color:#fff;
    font-weight: bold;
    border-radius:70%;
    background-color:#0984e3;
}
*/
